{% import '/_macros/helpers' as h %}

{% set icon = icon|default(null) %}
{% set header = header|default('') %}
{% set body = body|default('') %}

<div class="flex">
	{% if icon %}
		<div class="flex-shrink-0">
			<div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
				{{ h.symbol(icon) }}
			</div>
		</div>
	{% endif %}
	<div class="ml-4">
		{% if header|length %}
			<h5 class="text-lg leading-6 font-medium text-gray-900">
				{{ header }}
			</h5>
		{% endif %}
		{% if body|length %}
			<div class="mt-2 text-base leading-6 text-gray-500">
				{{ body|raw }}
			</div>
		{% endif %}
	</div>
</div>
