{% embed '/wrapper/_layout' %}

{% block content %}

<div class="wrapper">
	<h1>About us</h1>
	
	<div class="grid pt-5">
		<div class="grid__col">Col 1-4</div>
		<div class="grid__col">Col 2</div>
		<div class="grid__col">Col 3</div>
		<div class="grid__col">Col 4</div>
		<div class="grid__col">Col 1-12</div>
	</div>
</div>

{% endblock %}
{% endembed %}
