{% embed '/wrapper/_layout' %}
	{% block content %}

		{% include '/_components/heros/home' with {
			heading: '',
			subheading: '',
			image: null
		} %}

		{# <div class="wrapper">
			<div class="g-flex">
				<div class="w-6/12">
					<form>
						{% include '/__library/objects/form-inputs/input' with {
							label: 'Label',
							placeholder: 'placeholder',
							hint: 'Optional',
							helpText: 'This is some help text',
							error: false
						} %}

						{% include '/__library/objects/form-inputs/input-w-addons' with {
							label: 'Label',
							placeholder: 'placeholder',
							hint: 'Optional',
							helpText: 'This is some help text',
							error: false,
							buttonText: 'Send',
							leading: 'https://',
							trailing: '£'
						} %}

						{% include '/__library/objects/form-inputs/input-w-button' with {
							label: 'Label',
							placeholder: 'placeholder',
							hint: 'Optional',
							helpText: 'This is some help text',
							error: false,
							errorText: 'There was an error',
							buttonText: 'Send'
						} %}
					</form>
				</div>
			</div>
		</div> #}

		{# test #}
		{# <div class="grid pt-5">
			<div class="grid__col grid__col-1-4">
				Col 1-4
			</div>
			<div class="grid__col">
				Col 2
			</div>
			<div class="grid__col">
				Col 3
			</div>
			<div class="grid__col">
				Col 4
			</div>
			<div class="grid__col grid__col-1-12">
				Col 1-12
			</div>
		</div> #}
	{% endblock %}
{% endembed %}
