{% embed '/wrapper/_layout' %}
	{% block content %}

		{% include '/_components/heros/home' with {
			heading: '',
			subheading: '',
			image: null
		} %}

		{% set latestEvents = craft.entries.section('eventsItems').order('eventDate desc').limit(3) %}
		{% set latestNews = craft.entries.section('newsItems').order('newsDate desc').limit(3) %}
		{% set eventsIntro = craft.entries.slug('events').one().eventsIntroduction %}

		<div class="c-home-panels lg:flex site-container--wide py-20">
			
			<div class="w-full lg:w-6/12 lg:px-5">
				<h2 class="c-home-panels__heading">Upcoming Events</h2>
				{% if latestEvents|length %}
				<ul class="mt-7">
					{% for entry in latestEvents %}
						{% include '/_components/listing/event-item' with {
							heading: entry.title,
							venue: entry.venue,
							date: entry.eventDate,
							time: entry.eventTime,
							text: null,
							modifier: 'home'
						} %}
					{% endfor %}
				</ul>
				
				<div class="c-home-panels__cta text-center">
					<a href="/events" data-barba-prevent class="styled-link">View all events</a>
				</div>

				{% elseif eventsIntro|length %}
				<div class="mb-20 p-5 sm:p-10 bg-light-blue border-3 border-blue max-w-800 mx-auto text-center c-rich-text">
					{{ eventsIntro|raw }}
				</div>
				{% endif %}

			</div>
			
			<div class="w-full lg:w-6/12 mt-20 lg:mt-0 lg:px-5">
				{% if latestNews|length %}
				<h2 class="c-home-panels__heading">Latest News</h2>
				<ul class="mt-7">
					{% for entry in latestNews %}
						{% include '/_components/listing/news-item' with {
							heading: entry.title,
							date: entry.newsDate,
							source: entry.newsSource,
							text: null,
							link: entry.newsLink,
							modifier: 'home'
						} %}
					{% endfor %}
				</ul>
				<div class="c-home-panels__cta text-center"><a href="/news" data-barba-prevent class="styled-link">View all news</a></div>
				{% endif %}
			</div>
		</div>

	{% endblock %}
{% endembed %}
