<form class="c-search-form o-form" action="{{ url('search') }}" data-behaviour="Search" id="search-form">
	<div class="c-search-form__group">
		<input class="c-search-form__input o-input o-input--text" type="text" id="search" name="search" placeholder="Search" />
		<button class="c-search-form__btn o-btn" type="submit">
			Search
		</button>
	</div>
</form>
