*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-js img.lazyload {
  display: none;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

body {
  @apply font-serif-light min-h-screen;

  font-size: responsive 15px 18px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  line-height: 1.347826087;
  letter-spacing: 0.014em;
}

/*
	image defaults
*/
img,
svg {
  @apply max-w-full h-auto;
}

/*
	class used for lazyloading images, combined with data-src
*/
.lazyload {
  @apply opacity-0;

  transition: opacity 300ms ease-in-out;
}

/*
	base wrapper class
*/
.wrapper {
  @apply w-full max-w-wrapper px-1 mx-auto;

  @screen md {
    @apply px-2;
  }
}

h1,
.h1,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-style: normal;
}

h1,
.h1 {
  font-size: responsive 36px 50px;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: responsive 23px 50px;
  font-weight: bold;
}

h3,
.h3 {
  font-size: responsive 23px 40px;
}

h4,
.h4 {
  font-size: responsive 23px 40px;
}

h5,
.h5 {
  font-size: responsive 23px 40px;
}

h6,
.h6 {
  font-size: responsive 23px 40px;
}

.text-xl {
  font-size: responsive 17px 24px;
}

.text-lg {
  font-size: responsive 16px 21px;
}

.text-md {
  font-size: responsive 15px 18px;
}

.text-sm {
  font-size: responsive 14px 16px;
}

.text-xs {
  font-size: responsive 12px 14px;
}

p {
  @apply mb-1;
}

a {
  color: inherit;
}

.list-bulleted {
  li {
    @apply relative;
  }

  li::before {
    @apply absolute h-full top-0 left-0;

    content: "";
    width: 2em;
    background-image: url("/dist/img/svg/ui-bullet.svg");
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 0 0.4em;
  }
}

.site-container {
  //border: 1px dashed blue;
  margin: 0 gutter(1);

  @media only screen and (min-width: $break-small) {
    margin: 0 gutter(2);
  }

  @media only screen and (min-width: $break-med) {
    margin: 0 gutter(3);
  }

  @media only screen and (min-width: $break-large) {
    margin: 0 gutter(4);
  }

  @media only screen and (min-width: $break-xlarge) {
    max-width: 65rem;
    margin: 0 auto;
  }
}

// sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
