/* stylelint-disable */

.icon {
  position: relative;
  display: block;
  max-width: 100%;

  > svg {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
  }

  &:after {
    content: "";
    display: block;
    height: 0;
    width: auto;
  }
}

.icon--facebook {
  width: rem(13px);
  &:after {
    padding-bottom: 192.30769230769232%;
  }
}
.icon--logo {
  width: rem(162px);
  &:after {
    padding-bottom: 44.44444444444444%;
  }
}
.icon--soundcloud {
  width: rem(37px);
  &:after {
    padding-bottom: 48.64864864864865%;
  }
}
.icon--vimeo {
  width: rem(29px);
  &:after {
    padding-bottom: 86.20689655172413%;
  }
}

$icon--facebook-width: 13px;
$icon--facebook-height: 25px;
$icon--facebook-ratio: 1.9230769230769231;

$icon--logo-width: 162px;
$icon--logo-height: 72px;
$icon--logo-ratio: 0.4444444444444444;

$icon--soundcloud-width: 37px;
$icon--soundcloud-height: 18px;
$icon--soundcloud-ratio: 0.4864864864864865;

$icon--vimeo-width: 29px;
$icon--vimeo-height: 25px;
$icon--vimeo-ratio: 0.8620689655172413;
