{# <div class="relative">
    <img src="/dist/img/sheet-music.jpg" alt="" class="absolute block h-full w-full object-cover">
    <div class="css-iitjom relative">
        <div>
            <h1 class="hero-text">Francisco<!-- -->
                <span style="white-space:nowrap">Cortés-Álvarez</span>
                <span class="hero-subtitle">Composer</span>
            </h1>
        </div>
    </div>
</div> #}

<div class="relative"><img src="/dist/img/sheet-music.jpg" alt="" class="absolute block h-full w-full object-cover"><div class="css-iitjom relative"><div><h1 class="hero-text">Francisco<!-- --> <span style="white-space:nowrap">Cortés-Álvarez</span><span class="hero-subtitle">Composer</span></h1></div></div></div>