{% import '/_macros/helpers' as h %}

{% set footerLinks = footerLinks|default([]) %}

{% set socialLinks = [
	{
		url: 'https://www.facebook.com/franciscocortesalvarez',
		icon: 'facebook'
	},
	{
		url: 'https://vimeo.com/user8242078',
		icon: 'vimeo'
	},
	{
		url: 'https://soundcloud.com/francisco-cort-s-lvarez',
		icon: 'soundcloud'
	}
] %}

<footer class="zzzfooter font-sans-regular bg-blue text-white py-8">
	<div class="wrapper">
		<div class="flex flex-wrap justify-between items-center">
			<a href="mailto:cortes.alvarez@gmail.com" class="hover:opacity-50 trans trans-opacity">cortes.alvarez@gmail.com</a>
			<ul class="list-reset flex items-center">
				{% for item in socialLinks %}
					<li><a href="{{ item.url }}" target="_blank" class="inline-block p-2 hover:opacity-50 trans trans-opacity">{{ h.symbol(item.icon) }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</footer>
