{# HERO #}
{% include '/_components/heros/default' with {
    heading: entry.title,
    subheading: '',
    image: null
} %}


{# WORKS LISTING #}
{% set entries = craft.entries.section('albumsItems') %}
{% set relatedCats = craft.categories.relatedTo(entries).orderBy('title asc') %}

{# {% if relatedCats %}
    <nav class="border xl:text-center bg-light-blue py-1">
        <div class="site-container">
            {% for category in relatedCats %}
                <span class="inline-block p-2"><a href="#{{ category.slug }}" class="p-2 font-sans-regular hover:opacity-50 trans trans-opacity">{{ category.title }}</a></span>
            {% endfor %}
        </div>
    </nav>
{% endif %} #}

<div class="site-container pb-20">

    {# Loop the categories #}
    {% for category in relatedCats %}
        <div id="{{ category.slug }}" class="l-work-cat-block no-m-first">
            <h2 class="h2--styled mb-5">{{ category.title }}</h2>

            {# Get and loop through entries related to this cat #}
            {% set relatedEntries = craft.entries.relatedTo(category).orderBy('date desc') %}
            {% for entry in relatedEntries %}
                
                {% include '/_components/listing/album-item' with {
                    heading: entry.title ?? '',
                    artist: entry.artist ?? '',
                    date: entry.date|length ? entry.date : null,
                    info: entry.albumInfo ?? '',
                    image: entry.albumImage|length ? entry.albumImage[0] : null,
                    links: entry.links|length ? entry.links : null
                } %}

            {% endfor %}
            
        </div>

    {% endfor %}       
</div>