$base-padding: 20;

$default-letter-spacing: 0.09em;
$default-border-radius: 0.2rem;

$break-small: 450px;
$break-med: 700px;
$break-menu: 800px;
$break-large: 900px;
$break-xlarge: 1200px;

$break-nav: 650px;

$brand-facebook: #3b5998;
$brand-instagram: #c32aa3;
$brand-youtube: #b00;

$max-w-text: 40em;

/*
  Media query debugger
*/
@import "1-base/mixins";
@import "1-base/units";
@import "1-base/debug";

/*
  Resets, and globals
*/
@tailwind base;

/*
  third party chuff
*/
@import "vendor/flickity/flickity";

/*
  [01] Base Styles
  [02] Object patterns
  [03] Global elements patterns
  [04] Components patterns
*/

/*! purgecss start ignore */
@import "1-base/svg-symbols";
@import "1-base/base";
@import "2-objects/**";
@import "3-global/**";
@import "4-components/**";
// @import "5-pages/**";

/*! purgecss end ignore */

/*
  Tailwindcss
  see tailwind.config.js
  https://tailwindcss.com/docs/what-is-tailwind/
  Utilities and functions
*/

@tailwind components;
@tailwind utilities;

/*
  Print styles
*/

/*! purgecss start ignore */
@import "1-base/print";

/*! purgecss end ignore */
